<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icone"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icone_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RegistroMascota"/>
        <activity android:name=".RegistroUsuario"/>
        <activity android:name=".UsuarioAc"/>
        <activity android:name=".HorariodeComida"/>
        <activity android:name=".ListaMascotas"/>
        <activity android:name=".DetalleMascotas"/>
        <activity android:name=".ConsultarListaPersonas"/>
        <activity android:name=".Login"/>
        <activity android:name=".DetallesdelUsuario"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name="com.example.proyecto.entidades.AlarmReceiver"
            android:enabled="true" />

        <service
            android:name="com.example.proyecto.entidades.NotificationService"
            android:enabled="true" />

        <service android:name="com.example.proyecto.entidades.RebootServiceClass"/>

        <receiver android:name="com.example.proyecto.entidades.MyRebootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
